@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

body {
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Open Sans';
}

.menu {
    text-align: center;
}

#players {
    background-color: rgb(80, 80, 80);
    width: 100px;
}

#tools {
    background-color: rgb(25, 25, 25);
    width: 50px;
}

#pitches {
    background-color: black;
}

.pitch {
    width: 80px;
    padding: 5px;
}

.pitch:hover {
    cursor: pointer;
}

#equipments {
    background-color: #369231;
    width: 280px;
}

.break {
    flex-basis: 100%;
}

#notesContent {
    background-color: white;
    width: 842px;
    height: 200px;
    border-style: solid;
    border-width: 1px;
}

.editor {
    display: flex;
}

.icon {
    width: 30px;
    height: 30px;
    padding: 5px;
}

.icon:hover {
    width: 35px;
    height: 35px;
    background-color: #369231;
    cursor: pointer;
}

.equipment {
    transform: scale(0.7);
    display: absolute;
}

.equipment:hover {
    transform: scale(0.9);
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}